<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.com.money.dao.SellerMapper" >
  <resultMap id="BaseResultMap" type="test.com.money.model.Seller" >
    <id column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="wechat_id" property="wechatId" jdbcType="BIGINT" />
    <result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="seller_url" property="sellerUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    seller_id, wechat_id, seller_name, phone, email, state, seller_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from seller
    where seller_id = #{sellerId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from seller
    where seller_id = #{sellerId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="test.com.money.model.Seller" >
    insert into seller (seller_id, wechat_id, seller_name, 
      phone, email, state, 
      seller_url)
    values (#{sellerId,jdbcType=BIGINT}, #{wechatId,jdbcType=BIGINT}, #{sellerName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{state,jdbcType=SMALLINT}, 
      #{sellerUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="test.com.money.model.Seller" >
    insert into seller
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="wechatId != null" >
        wechat_id,
      </if>
      <if test="sellerName != null" >
        seller_name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="sellerUrl != null" >
        seller_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="wechatId != null" >
        #{wechatId,jdbcType=BIGINT},
      </if>
      <if test="sellerName != null" >
        #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="sellerUrl != null" >
        #{sellerUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="test.com.money.model.Seller" >
    update seller
    <set >
      <if test="wechatId != null" >
        wechat_id = #{wechatId,jdbcType=BIGINT},
      </if>
      <if test="sellerName != null" >
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="sellerUrl != null" >
        seller_url = #{sellerUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where seller_id = #{sellerId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="test.com.money.model.Seller" >
    update seller
    set wechat_id = #{wechatId,jdbcType=BIGINT},
      seller_name = #{sellerName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      state = #{state,jdbcType=SMALLINT},
      seller_url = #{sellerUrl,jdbcType=VARCHAR}
    where seller_id = #{sellerId,jdbcType=BIGINT}
  </update>
</mapper>